/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
.style_image {
  width: 50px;
  height: 50px;
}

body {
  margin: 0;
  font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-style: normal;
  font-size: 14px;
  padding: 6px 10px;
}

* {
  box-sizing: border-box;
}

.container {
  border: 1px #f1f dashed;
  display: block;
  height: 100%;
}

.container .header {
  text-align: center;
  text-transform: capitalize;
}

.container .body {
  border: 1px #f1f dashed;
  display: flex;
  height: 100%;
}

.container .body .left-pane {
  border: 1px #f1f dashed;
  display: block;
  width: 20%;
  height: 100%;
}

.container .body .main-pane {
  border: 1px #f1f dashed;
  display: block;
  width: 80%;
  height: 100%;
}

.validation {
  list-style: none;
  color: red;
}
