  <div class="links">
    <h3>navigation</h3>
    <ul>
      <li><%= link_to 'Cars', controller: 'cars' %></li>
      <li><%= link_to 'Drivers', controller: 'drivers' %></li>
      <li> <%= link_to 'Drivers And Cars - find match', controller: 'driversandcars' %></li>
        <li> <%= link_to 'Drivers And Cars - match', controller: 'driversandcars', action: 'match' %></li>
    </ul>
  </div>
