  <div class="links">
    <h3>navigation</h3>
    <ul>
      <li><%= link_to 'Cars', controller: 'cars' %></li>
      <li><%= link_to 'Drivers', controller: 'drivers' %></li>
      <li> <%= link_to 'Drivers And Cars', controller: 'driversandcars' %></li>
    </ul>
  </div>
