  <div class="links">
    <h3>navigation</h3>
    <div><%= link_to 'Cars', controller: 'cars' %></div>
    <div><%= link_to 'Drivers', controller: 'drivers' %></div>
    <div> <%= link_to 'Drivers And Cars', controller: 'driversandcars' %></div>
  </div>
